<div style="text-align:center;" >
    <h1>Welcome.</h1>
</div>
<div style="text-align:center;">
    <p style="font-size:20px">
    <%= link_to 'Sign Up', new_user_registration_path, :class=>"btn btn-success btn-large" %> 
    or
    <%= link_to 'Login', new_user_session_path, :class=>"btn btn-large" %> 
    </p>
</div>
