<div class="span12">
    <h1 class="frontpage">Want to reach your goals?</h1>
</div>
<div class="span12">
    <p style="text-align:center;">
    <%= link_to 'Sign Up', new_user_registration_path, :class=>"btn btn-large btn-success signupButton" %> 
    </p>
</div>
